/* .Main__DoctorList__Body {
    background-color: lightblue;
} */

.DoctorList__Table {
    padding: 0px 20px 20px 20px;
}

.HeaderText {
    text-align: center;
    padding: 20px 20px 0 20px;
    color: rgb(9, 216, 243);
}

.Doctor__time__btn {
    background-color:#ccc;
    border: none;
    border-radius: 8px;
    padding: 4px 12px 4px 12px;
}

.Doctor__time__btn:hover {
    background-color:lightblue;
}

.Doctor__time__btn:active, .Doctor__time__btn:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.Doctor__timing__popoverTxt {
    margin: 5px;
}

.Popver__line {
    margin: 0%;
}

.DoctorList__Table__Pagination {
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}